{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "tsconfigRootDir": ".",
        "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint", "svelte3", "prettier"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "overrides": [
        {
            "files": ["**/*.svelte"],
            "processor": "svelte3/svelte3"
        }
    ]
}
